/**************** blog part css start ****************/
.dashboard_part {
    @media #{$small_mobile} {
        padding-bottom: 50px;
    }

    @media #{$large_mobile} {
        padding-bottom: 50px;
    }

    @media #{$tab_device} {
        padding-bottom: 50px;
    }

    @media #{$medium_device} {
        padding-bottom: 50px;
    }

    .card {
        border: 0px solid transparent;
    }

    .dashboard_right_sidebar .widget_title {
        font-size: 20px;
        margin-bottom: 40px;
        font-style: inherit !important;
    }

    .single-home-blog {
        @media #{$small_mobile} {
            margin-bottom: 20px;
        }

        @media #{$large_mobile} {
            margin-bottom: 20px;
        }

        @media #{$tab_device} {
            margin-bottom: 20px;
        }

        @media #{$medium_device} {}

        .card-img-top {
            border-radius: 0px;
        }

        .card {

            border-radius: 0px;
            background-color: transparent;
            position: relative;

            .card-body {
                padding: 30px 25px 23px;
                @include transform_time(.5s);
                border: 1px solid #ddd;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                @media #{$small_mobile} {
                    padding: 15px 10px;
                }

                @media #{$large_mobile} {
                    padding: 15px;
                }

                @media #{$tab_device} {}

                @media #{$medium_device} {
                    padding: 20px;
                }

                .btn_4 {
                    margin-bottom: 20px;

                }

                a {
                    color: $white_color;
                    text-transform: capitalize;
                    @include transform_time(0.8s);
                }
            }

            .dot {
                position: relative;
                padding-left: 20px;

                &:after {
                    position: absolute;
                    content: "";
                    width: 10px;
                    height: 10px;
                    top: 5px;
                    left: 0;
                    background-color: $btn_bg;
                    border-radius: 50%;
                }
            }

            span {
                color: $font_4;
                margin-bottom: 10px;
                display: inline-block;
                margin-top: 10px;

                @media #{$small_mobile} {
                    margin-bottom: 5px;
                    margin-top: 5px;
                }

                @media #{$large_mobile} {
                    margin-bottom: 5px;
                    margin-top: 5px;
                }

                @media #{$tab_device} {
                    margin-bottom: 5px;
                    margin-top: 5px;
                }

                @media #{$medium_device} {
                    margin-bottom: 5px;
                    margin-top: 5px;
                }
            }

            h5 {
                font-weight: 700;
                line-height: 1.5;
                font-size: 24px;
                @include transform_time(0.8s);
                text-transform: capitalize;

                @media #{$small_mobile} {
                    margin-bottom: 5px;
                    font-size: 17px;
                }

                @media #{$large_mobile} {
                    margin-bottom: 10px;
                    font-size: 16px;
                }

                @media #{$tab_device} {
                    margin-bottom: 10px;
                }

                @media #{$medium_device} {
                    margin-bottom: 10px;
                    font-size: 18px;
                }

                &:hover {
                    @include transform_time(0.8s);
                    color: $btn_bg;
                }

            }

            ul {
                margin-bottom: 16px;

                li {
                    display: inline-block;
                    color: $font_4;
                    margin-right: 33px;
                    text-transform: uppercase;
                    @media #{$small_mobile} {
                        margin-right: 10px;
                    }

                    @media #{$large_mobile} {
                        margin-right: 10px;
                    }

                    @media #{$tab_device} {
                        margin-right: 10px;
                    }

                    @media #{$medium_device} {
                        margin-right: 10px;
                    }

                    span {
                        margin-right: 10px;
                    }
                }
            }
        }
    }

    .dashboard_btn {
        font-size: 14px;
        text-transform: uppercase;
        font-family: $font_stack_2;
        font-weight: 500;
        margin-top: 20px;
        display: inline-block;
        position: relative;
        color: $heading_color !important;
        @include transform_time(0.4s);
        @media #{$large_mobile}{
            margin-top: 10px;
        }
        
        &:after {
            position: absolute;
            content: "";
            right: -33px;
            top: 11px;
            width: 20px;
            height: 2px;
            background-color: $heading_color;
        }
        &:hover{
            color: $btn_bg !important;
            &:after{
                background-color: $btn_bg;
            }
        }
    }
}