
<div id="footer">
<div>
    <div>
        <h3>america</h3>
        <ul>
            <li>457-380-1654 main</li>				
            <li>257-301-9417 toll free</li>
        </ul>			
    </div>		
    <div>
        <h3>europe</h3>
        <ul>
            <li>457-380-1654 main</li>				
            <li>257-301-9417 toll free</li>
        </ul>			
    </div>	
    <div>
        <h3>canada</h3>
        <ul>
            <li>457-380-1654 main</li>				
            <li>257-301-9417 toll free</li>
        </ul>			
    </div>	
    <div>
        <h3>middle east</h3>
        <ul>
            <li>457-380-1654 main</li>				
            <li>257-301-9417 toll free</li>
        </ul>			
    </div>	
    <div>
        <h3>follow us:</h3>
        <a class="facebook" href="http://facebook.com/freewebsitetemplates" target="_blank">facebook</a>		
        <a class="twitter" href="http://twitter.com/fwtemplates" target="_blank">twitter</a>
    </div>	
</div>
<div>
    <p>&copy Copyright 2012. All rights reserved</p>
</div>
</div>
</body>
<script  src="assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="assets/js/jquery.form.js"></script>
    <script src="assets/js/jquery.validate.min.js"></script>
    <script src="assets/js/mail-script.js"></script>
    <!-- dropzone js -->
    <script src="assets/js/dropzone.js"></script>
</html>