<!DOCTYPE html>
<!-- Template by freewebsitetemplates.com -->
<html>
<head>
<meta charset="utf-8" />
<title>الهاشمية</title>
<link rel="stylesheet"  href="/app/assets/css/s.css" />
<link rel="stylesheet"  href="/app/assets/css/style.css" />
<link rel="stylesheet" href="/app/assets/css/bootstrap.css">
<link rel="stylesheet" href="/app/assets/css/animate.css">
<link rel="stylesheet" href="/app/assets/css/aos.css">


<link rel="stylesheet" href="/app/assets/css/flaticon.css">



<link rel="stylesheet" href="/app/assets/css/themify-icons.css">

</head>
<body>
	<div id="header">
			<div id="logo">
				<a href="index.html"><img src="/assets/img/logo3.jpg" alt="" /></a>		
			</div>		
			<ul>
				<li class="selected"><a href="#"><span>home</span></a></li>
				<li><a href="about.html"><span>about us</span></a></li>
				<li><a href="services.html"><span>services</span></a></li>
				<li><a href="/users/logout"><span>Log Out</span></a></li>			
			</ul>
	</div>