<!doctype html>
<html lang="en">

<body>
    <!--::header part start::-->
    <%- include('partials/header.ejs') %>
    <!-- Header part end-->

    <!-- breadcrumb start-->
    

    <!-- breadcrumb end-->

    <!-- about us part start-->

    <!-- our depertment part start-->
    <section class="pb-5 pt-3">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-xl-12">
                    <div class="depertment_content">
                        <div class="row justify-content-center">
                            <form class="needs-validation" id="registration-form"  method="POST" novalidate>
                                <h2 class="p-3 ">Register Your Information</h2>
                                
                                <hr class="p-2">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <input type="text" class="form-control" name="name" required
                                            placeholder="Enter Full Name">
                                            <div class="invalid-feedback">Please Enter Your Full name</div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input type="text" class="form-control" name="phone" required
                                            placeholder="Phone Number">
                                            <div class="invalid-feedback">Please Enter Your Phone Number</div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input type="password" class="form-control" name="password" required 
                                            placeholder="Enter Your Password">
                                            <div class="invalid-feedback">Please Enter Your Password</div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input type="password" class="form-control" name="confirm" required
                                            placeholder="Confirm Your Password">
                                            <div class="invalid-feedback">Please Enter  Password confirmation</div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <select id="sex" name="sex" class="form-control required" required>
                                            <option value="" selected disabled hidden>Select sex</option>
                                            <option value="male">Male</option>
                                            <option value="female">Female</option>
                                        </select>
                                        <div class="invalid-feedback">Please Select Your Sex</div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <select id="role" name="role" class="form-control required" required>
                                            <option value="" selected disabled hidden>Select Role</option>
                                            <option value="user">User</option>
                                            <option value="admin">Admin</option>

                                        </select>
                                        <div class="invalid-feedback">Please Select your Role</div>
                                    </div>
                                    
                                </div>
                                <div class="regerv_btn">
                                    <button type="submit" class="btn_2" id="register">Complete Registration</button>
                                </div>
                            </form>
                            <!--::regervation_part end::-->

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- our depertment part end-->

    <!-- footer part start-->
    <%- include('partials/footer.ejs') %>

    <!-- footer part end-->
    
</body>

</html>