<!doctype html>
<html lang="en">

<head>
      <!--::header part start::-->
      <%- include('partials/header.ejs') %>
      <!-- Header part end-->
</head>

<body>


    <!-- breadcrumb start-->
   
    <!-- breadcrumb start-->

    <!-- about us part start-->


    <!-- our depertment part start-->
    <section class="pb-5 pt-3">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-xl-10">
                    <div class="depertment_content">
                        <div class="row justify-content-center">
                            <form class="needs-validation" id="addpay-form" action="/users/admin/addPays" method="POST" novalidate> 
                                
                                <h2 class="p-3 ">Add Payments</h2>
                                <hr class="p-2">
                                <div class="form-row">
									<div class="form-group col-md-6">
                                        <select id="phone" name="phone" class="form-control required" required>
                                            <option value="" selected disabled hidden>Select pearson</option>
                                            <% users.forEach( user => { %>
                                            <option value="<%=user.phone%>"><%=user.name%></option>
                                            <%}); %>
                                        </select>
                                        <div class="invalid-feedback">Please Select one user</div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <input type="text" name="month" class="form-control" required
                                            placeholder="month like yyyy-mm">
                                            <div class="invalid-feedback">please enter month like yyyy-mm</div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <input type="amount" name="amount" class="form-control" required 
                                            placeholder="Enter Amount">
                                            <div class="invalid-feedback">Please The Amount</div>
                                    </div>
                                </div>
                                <div class="regerv_btn">
                                    <button type="submit" class="btn_2" id="login">ADD Payment</button>
                                </div>
                            </form>
                            <!--::regervation_part end::-->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- our depertment part end-->

    <!-- footer part start-->
    <%- include('partials/footer.ejs') %>

    <!-- footer part end-->

    <!-- jquery plugins here-->

</body>

</html>