<!doctype html>
<html lang="en">


<body>
    <!--::header part start::-->
    <%- include('partials/header.ejs') %>
    <!-- Header part end-->
    
	<div id="body">
		<div class="header">
			<div>
				<ul>
					<li><img src="images/discuss.jpg" alt="" /></li>	
					<li><img src="images/flags.jpg" alt="" /></li>
					<li><img src="images/graph.jpg" alt="" /></li>		
				</ul>		
				<div>
					<h3>This website template has been designed by <span><a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free.</span></h3>	
					<p>You can remove any link to our website from this website template, you're free to use this website template without linking back to us.If you're having problems editing this website template, then don't hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forum">Forum</a>.</p>		
				</div>
			</div>
		</div>
		<div class="body">
			<div class="section">
				<a href="services.html">
				<img src="images/gears.jpg" alt="" />				
				services
				</a>			
			</div>	
			<div class="article">
				<img src="images/graph2.jpg" alt="" />		
				<h4>This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a></h4>	
				<p>for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us.</p>
			</div>
			<div class="section">
				<a href="about.html"><img src="images/globe.jpg" alt="" />about</a>			
			</div>		
		</div>
		<%- include('partials/footer.ejs') %>
<!-- footer part end-->

</html>
		