<!doctype html>
<html lang="en">


<body>
    <!--::header part start::-->
    <%- include('partials/header.ejs') %>
    <!-- Header part end-->
	<section class="dashboard_area section_padding">
        <div class="container">
            
            <div class="pt-2 row">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="dashboard_left_sidebar border mb-5 ml-3">
                        <article class="dashboard_item">
                            <div class="dashboard_item_img ">
                                <img class="card-img rounded-0" src="/assets/img/profile.png" alt="profile">
                            </div>
                            <div class="dashboard_details">
                                <a class="d-inline-block align-items-center" href="single-dashboard.html">
                                    <h2 class="">Profile</h2>
                                </a>
                                <p>This section is dedicated to managing user's profiles</p>
                                <ul class="dashboard-info-link">
                                    <li><a href="/users/user/viewProfile%>/"><i class="far fa-user"></i> View</a></li>
                                    <li><a href="#"><i class="far fa-comments"></i> Edit</a></li>
                                </ul>
                            </div>
                        </article>     
                    </div>
                </div>
                
                 <div id="left-dashboard_item"  class="container col-lg-6  mb-5 mb-lg-0 border">
                    <div class="dashboard_left_sidebar ">
                        <article class="dashboard_item">
                            <div class="dashboard_item_img ">
                                <img class="card-img rounded-0" src="/assets/img/tax.png" alt="ehr_history">
                            </div>
                            
                            <div class="dashboard_details">
                                <a class="d-inline-block align-items-left" href="single-dashboard.html">
                                    <h2 class="">view payments history</h2>
                                </a>
                                <p>This section is dedicated to retrieving and viewing the payments history</p>
                                <ul class="dashboard-info-link">
                                    <li><a href="/users/user/viewPayments"><i class="far fa-user"></i>View</a></li>
                                </ul>
                            </div>
                        </article>   
                    </div>
                 </div>
                 
        </div>
	</section>
	<%- include('partials/footer.ejs') %>
<!-- footer part end-->

</html>