<!doctype html>
<html lang="en">

<body>
    <!--::header part start::-->
    <%- include('partials/header.ejs') %>
    <!-- Header part end-->
    
    <!-- breadcrumb start-->
  
    
    <!-- breadcrumb start-->

    
    <!-- our depertment part start-->
    <section class="section_padding">
        <div class="container-fluid">
                <article class="pb-5 col-xl-12">
                    <div class="container">
                     
                        <h2 class="mb-30 text-center">View Profile</h2>
                        <hr>
                    </div>
                    <div class="col-lg-12 text-center" id="profile">
                        <div class="row ">
                                <div class="col-lg-6 mb-2 p-1">
                                    <i class="ti-user"></i>
                                        <span class="mr-4 ">Name:</span>
                                        <span name="name"><%=user.name%></span>

                                </div>
                                <div class="col-lg-6 mb-2 p-1">
                                    <i class="ti-email"></i>
                                        <span class="mr-4">Phone:</span>
                                        <span name="email" class=""><%=user.phone%></span>
                                </div>
                                               
                               
                                                 
                                <div class="col-lg-6 mb-2 p-1">
                                    <i class="ti-face-smile"></i>
                                        <span class="mr-4">Sex:</span>
                                        <span name="sex"><%=user.sex%></span>
                                </div>
                                
                                <div class="col-lg-2 mb-2 p-1">
                                    <i class="ti-lock"></i>
                                        <span class="mr-4">Role:</span>
                                        <span name="role"><%=user.role%></span>
                                </div> 
                        </div>
                    </div>
                </article>
        </div>
    </section>
    
    <!-- our depertment part end-->
    <!-- footer part start-->
    <%- include('partials/footer.ejs') %>
    <!-- footer part end-->
    
</body>

</html>
