<!doctype html>
<html lang="en">

<body>
    <!--::header part start::-->
    <%- include('partials/header.ejs') %>
    <!-- Header part end-->
    
   
    
    <!-- breadcrumb end-->
    
    <!-- our depertment part start-->
    <section class="section_padding">
        <div class="container-fluid">
            <div class="row">
                <section class="container pb-5 col-lg-12">
                    <div class="container">
                        
                        <h2 class="mb-30 text-center">View Patient Medical History</h2>
                        <div class="progress-table">
                            <div class="progress-table center">
                                <div class="table-head text-center">
                                    <h3 class="ml-auto mb-3">  <%=user.name%> payments </h3>
                                    <div class="ml-auto mr-5"><a href="#" id="show-ehr-history"><i
                                        class="ti-angle-down"></i></a></div>
                                    </div>
                                    <div id="table-content">
                                        <div class="table-head">
                                            <div class="head-items">Month</div>
                                            <div class="head-items">Amount</div>
                                            <div class="head-items">Paid TO</div>
                                            <div class="head-items">Date</div>
                                            
                                        </div>
                                        <% payments.forEach( (payment) => { %>
                                        <div class="table-row ">
                                            <div class="head-items
                                            "><%=payment.month%></div>
                                            <div class="head-items
                                            "><%=payment.amount%></div>
                                            <div class="head-items
                                            "><%=payment.by%></div>
                                            <div class="head-items
                                            "><%=payment.date%></div>
                                            
                                        </div>
                                        <% }) %>
                                    </div>
                                </div>
                            </div>
                        </section>
                        
                        
                    </div>
                </div>
            </section>
            <!-- our depertment part end-->
            <!-- footer part start-->
            <%- include('partials/footer.ejs') %>
            <!-- footer part end-->
            
        </body>
        
        </html>